.el-button {
  height: 36px;
  border-radius: 2px;
  padding: 0 16px;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  transition: all 0.275s ease-in-out;
  color: rgba(0, 0, 0, 0.87);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16), 0 0 2px rgba(0, 0, 0, 0.12);
}
.el-button--primary,
.el-button--danger,
.el-button--warning {
  color: #fff;
}
.el-button:not(.el-button--primary):not(.el-button--danger):not(.el-button--warning):not(.tool):focus,
.el-button:not(.el-button--primary):not(.el-button--danger):not(.el-button--warning):not(.tool):hover {
  color: rgba(0, 0, 0, 0.87);
  background-color: transparent;
}
.el-button.is-disabled,
.el-button.is-disabled:focus,
.el-button.is-disabled:hover {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.54);
  opacity: 0.3;
  cursor: not-allowed;
}
/* size */
.el-button.el-button--medium {
  height: 32px;
}
.el-button.el-button--small {
  height: 28px;
}
.el-button.el-button--mini {
  height: 24px;
}

/* round and circle */
.el-button.is-circle,
.el-button.tool {
  border-radius: 50%;
  padding: 0;
  width: 36px;
  color: rgba(0, 0, 0, 0.54);
  background-color: transparent;
  box-shadow: none;
}
.el-button.tool + .el-button.tool {
  margin-left: 8px;
}
.el-button.is-circle.el-button--medium,
.el-button.tool.el-button--medium {
  width: 32px;
  font-size: 22px;
}
.el-button.is-circle.el-button--small,
.el-button.tool.el-button--small {
  width: 28px;
  font-size: 18px;
}
.el-button.is-circle.el-button--mini,
.el-button.tool.el-button--mini {
  width: 24px;
  font-size: 18px;
}
.el-button.icon-text,
.el-button.icon-text.el-button--medium,
.el-button.icon-text.el-button--small,
.el-button.icon-text.el-button--mini {
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  padding: 0 16px;
  width: auto;
}
.el-button.icon-text.el-button--small,
.el-button.icon-text.el-button--mini {
  font-size: 12px;
}
.el-button.icon-text:before {
  font-size: 24px;
  padding-right: 4px;
}
.el-button.icon-text.el-button--medium:before {
  font-size: 22px;
}
.el-button.icon-text.el-button--small:before,
.el-button.icon-text.el-button--mini:before {
  font-size: 18px;
}
.el-button.is-round {
  border-radius: 18px;
  padding: 0 16px;
}

/* style */
.el-button.raised {
  /* default */
}
.el-button:not([disabled]):hover {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.12);
}
.el-button.flat {
  padding: 0 8px;
  background-color: transparent;
  box-shadow: none;
}
.el-button.flat:hover {
  color: rgba(0, 0, 0, 0.87);
}
.el-button.tool:hover {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.08);
}
.el-button.tool.active {
  color: #30b44e;
}

/* type & color*/
.el-button.flat.el-button--primary,
.el-button.flat.el-button--primary:hover,
.el-button.tool.el-button--primary,
.el-button.tool.el-button--primary:hover,
.el-button.is-circle.el-button--primary,
.el-button.is-circle.el-button--primary:hover {
  color: #30b44e;
}
.el-button.flat.el-button--danger,
.el-button.flat.el-button--danger:hover,
.el-button.tool.el-button--danger,
.el-button.tool.el-button--danger:hover,
.el-button.is-circle.el-button--danger,
.el-button.is-circle.el-button--danger:hover {
  color: #f56c6c;
}
.el-button.flat.el-button--warning,
.el-button.flat.el-button--warning:hover,
.el-button.tool.el-button--warning,
.el-button.tool.el-button--warning:hover,
.el-button.is-circle.el-button--warning,
.el-button.is-circle.el-button--warning:hover {
  color: #e6a23c;
}
/* Mobile */
@media (max-width: 768px) {
  .el-button {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  .el-button.raised {
    /* default */
  }
}

/* badge */
.el-badge__content {
  height: 18px;
  line-height: 18px;
  /* width: 18px; */
  /* padding: 0; */
  border: none;
}

/* tooltips */
.el-tooltip__popper {
  padding: 0 8px;
  height: 28px;
  line-height: 28px;
  border-radius: 2px;
}
.el-tooltip__popper.is-dark {
  background-color: rgba(24, 24, 24, 0.8);
}
.el-tooltip__popper .popper__arrow {
  opacity: 0;
}

.el-button [class*="el-icon-"] + span {
  margin-left: 0;
}
.el-button [class*="el-icon-"] {
  margin: 4px;
}

/* FAB */
.FAB {
  width: 56px;
  height: 56px;
  position: fixed;
  z-index: 24;
  border-radius: 100%;
  padding: 0;
}
.FAB.el-button--medium,
.FAB.el-button--small,
.FAB.el-button--mini {
  width: 40px;
  height: 40px;
}
.FAB:hover {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.12);
}
.immerse .FAB{
  transform-origin: center;
  transform: scale(0)
}